body {
	font-family: Helvetica, sans-serif;
	background-color: #1A1A1D;
}

.summary {
	width: 35vw	;
	float: left;
	padding: 20px;
	width: 40vw;
	margin-right: 0;
	background-color: hsl(348, 61%, 23%);
}

.summary > h2 {
	color: white;
}

.holder {
	display: flex;
	padding: 20px;
}

.container {
	margin-right: 1vw;
	width: 47vw;
	float: left;
	padding: 20px;
	display: block;
	width: 54vw;
	background-color: #252528;
}

.container > h2 {
	color: white;
}

.product_div {
	float: left;
	display:block;
	position: relative;
	width: 45%;
	height: 18.4vw;
	background-color: 6F2232;
	margin: 0.8vw;
	box-shadow: 0 0 1vw #820a2c8c;
}

.product_div > h4 {
	color: white;
	text-align: center;
	font-size: 1vw;
}

.product_div > p {
	color: white;
	position: absolute;
	bottom: 5vw;
	left: 0.5vw;
	font-size: 1vw;
}

.product_image {
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translate(-50%);
	height: 60%;
}

.button-div {
	position: absolute;
	width: 10.7vw;
	bottom: 1vw;
	right: 1vw;
}

.button {
	margin-left: 0;
	margin-right: 0;
	position: relative;
	font-size: 1vw;
	padding:0.1vw 0.2vw;
	border:0.1vw solid #FFFFFF;
	background-color: #a34457;
	color:#FFFFFF;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.button:hover {
	box-shadow: inset 6vw 0 0 0 white;
	color: #661e2d;
}

.button:active {
	background-color: white;
	transition: 0.1s;
}

.checkout {
	background-color: #7a2f39;
	font-size: 2vw;
	border:0.2vw solid #c6959b;
	padding:0.2vw 0.4vw;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	color: #c6959b;
}

.checkout:hover {
	box-shadow: inset 10vw 0 0 0 #c6959b;
	font-size: 2vw;
	color: #7a2f39;
	border:0.2vw solid #7a2f39;
}

