body {
	font-family: Helvetica, sans-serif;
	background-color: #1A1A1D;
}

.featured_container {
	width: 80vw;
	margin: auto;
}

.featured_container::after {
	content: "";
	clear: both;
	display: table;
}

.product_div
{
	float: left;
	display:block;
	position: relative;
	width: 18.4vw;
	height: 18.4vw;
	background-color: #6F2232;
	margin: 0.8vw;
	box-shadow: 0 0 1vw #c3073f56;
}


.product_div > h4 {
	color: white;
	text-align: center;
	font-size: 1vw;
}

.product_div > p {
	color: white;
	position: absolute;
	bottom: 0;
	left: 0.5vw;
	font-size: 1vw;
}

.button {
	position: absolute;
	bottom: 1vw;
	right: 1vw;
	font-size: 1vw;
	padding:0.1vw 0.2vw;
	border:0.1vw solid #FFFFFF;
	background-color: #a34457;
	color:#FFFFFF;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.button:hover {
	box-shadow: inset 6vw 0 0 0 white;
	color: #661e2d;
}

.button:active {
	background-color: white;
	transition: 0.1s;
	transform: scale(1.05);
}

.product_image {
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translate(-50%);
	height: 60%;
}
